html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body { 
    background-image: url('https://picturavis.com/uploads/q/q/c/qqcall0ovw//2023/01/13/20230113213849-0cb03ca1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    flex: auto;
}

header {
    margin-bottom: 10vh;
}

header img {
    height: 30vw;
    max-height: 200px;
}

.text {
    width: 60rem;
    max-width: 90vw;
    font-family: "Trebuchet MS", Arial, serif; 
    color: white; 
    font-size: 1rem;
    margin-bottom: 3rem;
}
.text h1 { font-size: 2rem; }
.text h2 { font-size: 1.2rem; }

.shadow {
    padding-left: 1rem; padding-right: 1rem; padding-top: 0.2rem; padding-bottom: 1rem;
    background-color: rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,.8);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,.8);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,.8);
}

footer {  
    width: 100%; 
    padding-top: 1rem;
    text-align: center; 
    font-family: "Trebuchet MS", Arial, serif; 
    color: grey; 
    font-size: 0.8rem;
    background-image: linear-gradient(to top, rgba(0,0,0,0.7) 60%, rgba(0,0,0,0));
}

a:link { font-weight: bold; color: white; text-decoration: none;}
a:visited { color: white;}
a:hover { color: white; opacity: 0.5; filter: alpha(opacity=70);}
a:active { color: white;}
