.gallery-link {
    flex: auto;
    content-align: center;
}

.gallery-link-img {
    width: 30rem;
    max-width: 70vw;
}

.socials {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.text-img {
    display: block;
    height: 1.5rem;
    width: auto;
    margin: auto
}

.logo {
    height: 2rem;
    width: auto;
    margin-left: 1rem;
    margin-right: 1rem;
}