<!DOCTYPE html>
<html>
    <head>
        {% include "includes/head.html" %}
    </head>
    <style type="text/css">
        {% include "includes/base.css" %}
    </style>
    <body>
        <header>
            {% include "includes/header.html" %}
        </header>      
        <main>
            <div class="text shadow">
                <h1>Contact</h1>
                <p>
                    If you have any questions about this site or my photos, you can contact me via mail <a href=mailto:admin@picturavis.com title="contact admin per mail">here</a>.
                </p>
                <br>
                <a class="text" title="go back to homepage" href="https://picturavis.com/index.php?/">back to home</a>
            </div>
        </main>
        <footer>
            {% include "includes/footer.html" %}
         </footer>
    </body>
</html>
