
<!DOCTYPE html>
<html>
    <head>
        {% include "includes/head.html" %}
    </head>
    <style type="text/css">
        {% include "includes/base.css" %}
    </style>
    <body>
        <header>
            {% include "includes/header.html" %}
        </header>      
        <main>
            <div class="text shadow">
                <h1>Impressum</h1>
                <p>
                    This is a strictly personal website with no commercial interest.
                    As stated in the <a href=https://picturavis.com/license>license information</a> all
                    photos are available under the 
                    <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a> and 
                    are not for sale. No advertisement is shown and no revenue generated with this site.
                    <br>
                    <br>
                    In accordance with §5 TMG it is not necessary to provide an Impressum. If needed, you can
                    contact the webmaster <a href=https://picturavis.com/index?/page/contact title="contact admin">here</a>.
                </p>
                <br>
                <a class="text" title="go back to homepage" href="https://picturavis.com/index.php?/">back to home</a>
            </div>
        </main>
        <footer>
            {% include "includes/footer.html" %}
         </footer>
    </body>
</html>
