<!DOCTYPE html>
<html>
    <head>
        {% include "includes/head.html" %}
    </head>
    <style type="text/css">
        {% include "includes/base.css" %}
        {% include "includes/index.css" %}
    </style>
    <body>
        <header>
            {% include "includes/header.html" %}
        </header>      
        <main>
            <div class="gallery-link">
                <a href="https://picturavis.com/index.php?/categories/flat" title="Enter the gallery">
                    <img class="gallery-link-img" alt="Enter Gallery" src="https://www.picturavis.com/uploads/q/q/c/qqcall0ovw//2023/05/18/20230518164230-d847fef5.png">
                </a>
            </div>
            <div class="socials">
                <a href="https://blog.picturavis.com" rel="me" title="Visit my blog">
                    <img class="logo" alt="random_bird blog logo" src="https://www.picturavis.com/uploads/q/q/c/qqcall0ovw//2024/12/29/20241229190111-4f90eedd.png">
                </a>
                <a href="https://pixelfed.de/Picturavis" rel="me" title="Follow me on Pixelfed">
                    <img class="logo" alt="Pixelfed logo" src="https://www.picturavis.com/uploads/q/q/c/qqcall0ovw//2023/05/18/20230518164229-e7cad8ac.png">
                </a>
                <a href="https://mastodon.social/@picturavis" rel="me" title="Follow me on Mastodon">
                    <img class="logo" alt="Mastodon logo" src="https://www.picturavis.com/uploads/q/q/c/qqcall0ovw//2023/05/18/20230518171241-57206e76.png">
                </a>
            </div>
        </main>
        <footer>
            {% include "includes/footer.html" %}
         </footer>
    </body>
</html>
