<!DOCTYPE html>
<html>
    <head>
        {% include "includes/head.html" %}
    </head>
    <style type="text/css">
        {% include "includes/base.css" %}
    </style>
    <body>
        <header>
            {% include "includes/header.html" %}
        </header>      
        <main>
            <div class="text shadow">
                <h1>License information</h1>
                <p>
                    All images displayed on this website or linking to this license information are copyrighted by the photographer <a href="https://blog.picturavis.com/about" title="Information about the photographer and gear">Leonard Wägele</a>.
                    The images are licensed under a <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
                </p>
                <p>
                    This means that you can use, share and modify these images without asking, as long as you attribute the photographer and share under the same license. Commercial use is strictly forbidden.
                    <br>
                    <br>
                    A notification of the use would be greatly appreciated, but is not mandatory.
                </p>
                <br>
                <a class="text" title="go back to homepage" href="https://picturavis.com/index?/">back to home</a>
            </div>
        </main>
        <footer>
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
                <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png"/>
            </a>
            <br>
            All photographs by <a xmlns:cc="http://creativecommons.org/ns#" href="https://picturavis.com" property="cc:attributionName" rel="cc:attributionURL">Leonard Wägele</a> 
            that are displayed on 
            <a href="https://picturavis.com">picturavis.com</a>
            or linking here are licensed under a 
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
              Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
            <br>
            Permissions beyond the scope of this license may be available at
            <a xmlns:cc="http://creativecommons.org/ns#" href="https://picturavis.com/license"
              rel="cc:morePermissions">picturavis.com/license</a>.
            <br>
            © <a href="https://picturavis.com">picturavis.com</a> - all rights reserved - 2019-{{ year }}
        </footer>
    </body>
</html>

