<!DOCTYPE html>
<html>
    <head>
        {% include "includes/head.html" %}
    </head>
    <style type="text/css">
        {% include "includes/base.css" %}
    </style>
    <body>
        <header>
            {% include "includes/header.html" %}
        </header>      
        <main>
            <div class="text shadow">
                <h1>Privacy Policy</h1>
                <p>
                    This website is designed with minimal data useage in mind. It uses only essential
                    cookies (none if you do not use the gallery), shows no advertisment and uses no
                    third party data gathering or tracking software.
                </p>
                <p>
                    Personal data (usually referred to just as "data" below) will only be processed by us
                    to the extent necessary and for the purpose of providing a functional and user-friendly 
                    website, including its contents, and the services offered there.
                    <br>
                    Per Art. 4 No. 1 of Regulation (EU) 2016/679, i.e. the General Data Protection Regulation 
                    (hereinafter referred to as the "GDPR"), "processing" refers to any operation or set of 
                    operations such as collection, recording, organization, structuring, storage, adaptation, 
                    alteration, retrieval, consultation, use, disclosure by transmission, dissemination, or 
                    otherwise making available, alignment, or combination, restriction, erasure, or 
                    destruction performed on personal data, whether by automated means or not.
                    <br>
                    The following privacy policy is intended to inform you in particular about the type, 
                    scope, purpose, duration, and legal basis for the processing of such data either under 
                    our own control or in conjunction with others. We also inform you below about the 
                    third-party components we use to optimize our website and improve the user experience 
                    which may result in said third parties also processing data they collect and control.
                    <br>
                    Our privacy policy is structured as follows:
                    <br>
                    <ul type="disc">
                        <li>Information about us as controllers of your data</li>
                        <li>The rights of users and data subjects</li>
                        <li>Information about the data processing</li>
                    </ul>
                </p>
                <h1>Information about us as controllers of your data</h2>
                <p>
                    Responsible for this private website and its data (the "controller") is Leonard Wägele. 
                    For any questions regarding this privacy policy and data usage in general you can contact
                    him <a href=https://picturavis.com/contact title="contact form">here</a>. 
                </p>
                <h1>The rights of users and data subjects</h1>
                <p>
                    With regard to the data processing to be described in more detail below, users and data subjects have the right
                    <ul type="disc">
                        <li>
                            to confirmation of whether data concerning them is being processed, information 
                            about the data being processed, further information about the nature of the data 
                            processing, and copies of the data (cf. also Art. 15 GDPR);
                        </li>
                        <li>to correct or complete incorrect or incomplete data (cf. also Art. 16 GDPR);</li>
                        <li>
                            to the immediate deletion of data concerning them (cf. also Art. 17 DSGVO), or, 
                            alternatively, if further processing is necessary as stipulated in 
                            Art. 17 Para. 3 GDPR, to restrict said processing per Art. 18 GDPR;
                        </li>
                        <li>
                            to receive copies of the data concerning them and/or provided by them and to 
                            have the same transmitted to other providers/controllers 
                            (cf. also Art. 20 GDPR);
                        </li>
                        <li>
                            to file complaints with the supervisory authority if they believe that data 
                            concerning them is being processed by the controller in breach of data protection 
                            provisions (see also Art. 77 GDPR).
                        </li>
                    </ul>

                    In addition, the controller is obliged to inform all recipients to whom it discloses
                    data of any such corrections, deletions, or restrictions placed on processing the same
                    per Art. 16, 17 Para. 1, 18 GDPR. However, this obligation does not apply if such
                    notification is impossible or involves a disproportionate effort. Nevertheless, users
                    have a right to information about these recipients.
                    <br>
                    <br>
                    Likewise, under Art. 21 GDPR, users and data subjects have the right to object to the 
                    controller"s future processing of their data pursuant to Art. 6 Para. 1 lit. f) GDPR. 
                    In particular, an objection to data processing for the purpose of direct advertising 
                    is permissible.
                </p>
                <h1>Information about the data processing</h1>
                <p>
                    Your data processed when using our website will be deleted or blocked as soon as the 
                    purpose for its storage ceases to apply, provided the deletion of the same is not in 
                    breach of any statutory storage obligations or unless otherwise stipulated below.
                </p>
                <h2>Server data</h2>
                <p>
                    For technical reasons, data sent by your internet browser to us or to 
                    our server provider (<a href=https://piwigo.com title="piwigo.com">piwigo.com</a>) will be collected,
                    especially to ensure a secure and stable website:
                    These server log files record the type and version of your browser, operating 
                    system, the website from which you came (referrer URL), the webpages on our site visited, 
                    the date and time of your visit, as well as the IP address from which you visited our 
                    site.
                    <br>
                    The data thus collected will be temporarily stored, but not in association with any 
                    other of your data.
                    <br>
                    <br>
                    The basis for this storage is Art. 6 Para. 1 lit. f) GDPR. Our legitimate interest 
                    lies in the improvement, stability, functionality, and security of our website.
                </p>
                <h2>Cookies</h2>
                <p>
                    We use cookies on our website. Cookies are small text files or other storage
                    technologies stored on your computer by your browser. These cookies process certain
                    specific information about you, such as your browser, or IP address.  
                    <br>
                    This processing makes our website more user-friendly, efficient, and secure, allowing
                    us, for example, to display our website in different languages.
                    <br>
                    <br>
                    Our legitimate interest lies in improving the functionality of our website. 
                    The legal basis is Art. 6 Para. 1 lit. f) GDPR.
                    <br>
                    <br>
                    When you close your browser, these session cookies are deleted.
                    <br>
                    <br>
                    You can refuse the use of cookies by changing the settings on your browser.
                    Likewise, you can use the browser to delete cookies that have already been stored.
                    However, the steps and measures required vary, depending on the browser you use. 
                    If you have any questions, please use the help function or consult the documentation 
                    for your browser or contact its maker for support. Browser settings cannot prevent 
                    so-called flash cookies from being set. Instead, you will need to change the setting 
                    of your Flash player. The steps and measures required for this also depend on the 
                    Flash player you are using. If you have any questions, please use the help function 
                    or consult the documentation for your Flash player or contact its maker for support.
                    <br>
                    If you prevent or restrict the installation of cookies, not all of the functions on 
                    our site may be fully usable.
                </p>
                <h2>User posts, comments, and ratings</h2>
                <p>
                    We offer you the opportunity to post comments, opinions, and ratings on our 
                    website, hereinafter referred to jointly as "posts." If you make use of this 
                    opportunity, we will process and publish your post, the date and time you submitted 
                    it, and any optional pseudonym and email address you may have used.
                    <br>
                    <br>
                    The legal basis for this is Art. 6 Para. 1 lit. a) GDPR. You may revoke your prior 
                    consent under Art. 7 Para. 3 GDPR with future effect. All you have to do is inform us 
                    that you are revoking your consent and want to have the post(s) deleted.
                    <br>
                    <br>
                    In addition, we will also process your IP address and email address (if provided).
                    The IP address is processed because we might have a legitimate interest in taking or 
                    supporting further action if your post infringes the rights of third parties and/or 
                    is otherwise unlawful.
                    <br>
                    <br>
                    In this case, the legal basis is Art. 6 Para. 1 lit. f) GDPR. Our legitimate interest 
                    lies in any legal defense we may have to mount.
                    <br>
                    <br>
                    We reserve the right to deny publication of a post, to avoid spam and offensive language.
                    <br>
                    <p>
                        <a href="https://www.ratgeberrecht.eu/leistungen/muster-datenschutzerklaerung.html" target="_blank" rel="noopener">Model Data Protection Statement</a>
                        for <a href="https://www.ratgeberrecht.eu/" target="_blank"> Anwaltskanzlei Weiß &amp; Partner</a>
                    </p>
                    <br>
                    <p>
                        <a class="text" title="go back to homepage" href="https://picturavis.com/index?/">back to home</a>
                    </p>
                </p>
            </div>
        </main>
        <footer>
            {% include "includes/footer.html" %}
         </footer>
    </body>
</html>
